/* Welcome Start */

.welcome {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome .slogan {
  width: fit-content;
}

.welcome .signup {
  padding: 7px 10px;
  margin: 10px 0;
}

.welcome .signup:hover {
  text-decoration: none;
  opacity: 0.8;
  color: var(--three);
}

.welcome .illustration {
  height: 200px;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .welcome {
    height: 400px;
    flex-direction: column-reverse;
  }
}
/* Welcome End */
/* Search Start */
.search .header {
  width: fit-content;
  margin: 0 auto 20px;
}

.search form {
  width: 700px;
  max-width: 80%;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.search .input-container {
  width: 100%;
  margin: 10px 0;
}

.search label {
  font-size: 20px;
  font-weight: 300;
}

.search select {
  width: 100%;
  padding: 3px 5px;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid var(--two);
  border-radius: 3px;
}

.search .signup {
  display: block;
  margin: 20px auto 0;
}

.search .signup:hover {
  opacity: 0.8;
}

/* Search End */
